.wrap {
  width: 100%;
  margin: 20px 0;
  scroll: auto;
  background: green;
  color: blue;
  height: auto;
}
.home {
  height: auto;
  scroll: auto;
  with: 25%;
  padding: 10px;
  background: blue;
}
