.wrap {
  width: 100%;
  margin: 20px 0;
  scroll: auto;
  background: red;
  color: red;
  height: auto;
}
.home {
  height: auto;
  scroll: auto;
  with: 15%;
  padding: 10px;
  background: blue;
}
